@using Microsoft.AspNetCore.Identity
@using CRM.WebUI.Models
@using CRM.Domain.Entities

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.IsInRoleAsync(await UserManager.GetUserAsync(User), "Admins"))
{
    <li class="dropdown ">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>@UserManager.GetUserName(User)<i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><i class="fa fa-gear fa-fw"></i> User Profile</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Data" title="ManageData"><i class="fa fa-gear fa-fw"></i>Manage Data</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="UsersAdmin" asp-action="Index" title="UserAdmin"><i class="fa fa-users fa-fw"></i> Manage Users</a>
                </li>
                <li>
                    <a asp-area="" asp-controller="RolesAdmin" asp-action="Index" title="RolesAdmin"><i class="fa fa-user-secret fa-fw"></i> Manage Roles</a>
                </li>
                <li class="divider"></li>
                <li>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <a href="#" onclick="$(this).closest('form').submit()"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                    </form>
</li>
            </ul>
    </li>
}
else if (SignInManager.IsSignedIn(User))
{
    <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>@UserManager.GetUserName(User)<i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li>
                    <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage"><i class="fa fa-gear fa-fw"></i> User Profile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                        <button type="submit" class="btn btn-link navbar-btn navbar-link"><i class="fa fa-sign-out fa-fw"></i> Logout</button>
                    </form>
                </li>
            </ul>
    </li>
}
else
{
    <li><a asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in fa-fw"></i>Login</a></li>
}
