@using CRM.Domain.Entities
@using CRM.Domain.Abstract
@model CRM.Domain.Entities.Enrollment

<form asp-action="@ViewData["Action"]" autocomplete="off">
    @{if (ViewData["Action"].ToString() == "Edit")
        {
            <input type="hidden" asp-for="EnrollmentID" />
        }
    }

    <div class="panel panel-info" style="margin-top:5px;">
        <div class="panel-heading">
            <div class="btn-group pull-right form-inline">
                <a type="button" class="btn btn-sm btn-info" href='/Enrollments' style="float: right;"><i class="fa fa-fw fa-reply"></i>List</a>
                <button type="submit" value="Save" class="btn btn-sm btn-success " stype="margin-left: 15px"><i class="fa fa-fw fa-save"></i>Save</button>
@{if (ViewData["Action"].ToString() == "Edit")
    {
                <a asp-action="Details" class="btn btn-sm btn-warning " asp-route-id="@Model.EnrollmentAgentID" style="margin-right: 15px; margin-left: 15px;"><i class="fa fa-fw fa-trash-o"></i>Cancel</a>
    }
    else
    {
                <a asp-action="Index" class="btn btn-sm btn-warning " style="margin-right: 15px; margin-left: 15px;"><i class="fa fa-fw fa-trash-o"></i>Cancel</a>
    }
}
            </div>
            <p style="font-size:18px; margin:0px; padding:0px;">@ViewData["Title"]</p>
        </div>
        <div class="panel-body">
            <div class="alert alert-warning"><i class="fa fa-info-circle fa-fw"></i>System will create a following task for Active Enrollment with [Start Date] = [Due Date] - 30 Days</div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row crm-style">
                <div class="col-xs-12 col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" asp-for="StudentID" class="form-control" />
                            <label asp-for="StudentID" class="control-label col-xs-4"></label>
                            <div class="col-xs-8 ">
                                <div class="input-group">
                                    <input  class="form-control" asp-for="Student.Name"  data-val="false" readonly />
                                    <span class="input-group-btn">
                                        <button type="button" id="btnStudent" class="btn btn-default"><i class="fa fa-search fa-fw"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                                <span asp-validation-for="StudentID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaymentDate" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="PaymentDate" class="form-control datepicker-here" placeholder="yyyy-mm-dd"
                                       data-date-format="yyyy-mm-dd" data-clear-button="true" data-auto-close="true" data-language="en" />
                                <span asp-validation-for="PaymentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="DueDate" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="DueDate" class="form-control datepicker-here" placeholder="yyyy-mm-dd"
                                       data-date-format="yyyy-mm-dd" data-clear-button="true" data-auto-close="true" data-language="en" />
                                <span asp-validation-for="DueDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndDate" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="EndDate" class="form-control datepicker-here" placeholder="yyyy-mm-dd"
                                       data-date-format="yyyy-mm-dd" data-clear-button="true" data-auto-close="true" data-language="en" />
                                <span asp-validation-for="EndDate" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" asp-for="Institute.ShortName"  data-val="false" />
                            <input type="hidden" asp-for="InstituteID" class="form-control " />
                            <label asp-for="InstituteID" class="control-label col-xs-4"></label>
                           <div class="col-xs-8 ">
                                <div class="input-group">
                                    <input class="form-control" data-val="false" asp-for="Institute.Name" readonly />
                                    <span class="input-group-btn">
                                        <button type="button" id="btnInstitute" class="btn btn-default"><i class="fa fa-search fa-fw"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                                <span asp-validation-for="InstituteID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Tuition" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-dollar fa-fw"></i></span>
                                    <input asp-for="Tuition" class="form-control" />
                                </div>
                                <span asp-validation-for="Tuition" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="EnrollmentAgent.ShortName"  data-val="false" />
                            <input type="hidden" asp-for="EnrollmentAgentID" class="form-control" />
                            <label asp-for="EnrollmentAgentID" class="control-label col-xs-4"></label>
                            <div class="col-xs-8 ">
                                <div class="input-group">
                                    <input class="form-control" data-val="false" asp-for="EnrollmentAgent.Name" readonly />
                                   <span class="input-group-btn">
                                        <button type="button" id="btnAgent" class="btn btn-default"><i class="fa fa-search fa-fw"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                                <span asp-validation-for="EnrollmentAgentID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <textarea rows="3" asp-for="Note" class="form-control"></textarea>
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</form>

@await Component.InvokeAsync("CodesList", new
{
    crmCode = "students",
    valueRef = "StudentID",
    displayRef = "Student_Name",
    buttonRef = "btnStudent",
    onSelectFunc = ""
})
@await Component.InvokeAsync("CodesList", new
{
    crmCode = "institutes",
    valueRef = "InstituteID",
    displayRef = "Institute_Name",
    buttonRef = "btnInstitute",
    onSelectFunc = ""
})
@await Component.InvokeAsync("CodesList", new
{
    crmCode = "agents",
    valueRef = "EnrollmentAgentID",
    displayRef = "EnrollmentAgent_Name",
    buttonRef = "btnAgent",
    onSelectFunc = ""
})
