@model CRM.Domain.Entities.Enrollment

@{
    ViewData["Title"] = "Create Enrollment";
}

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Enrollment</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="StudentID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="StudentID" class ="form-control" asp-items="ViewBag.StudentID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InstituteID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InstituteID" class ="form-control" asp-items="ViewBag.InstituteID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PaymentDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PaymentDate" class="form-control" />
                <span asp-validation-for="PaymentDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="DueDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tuition" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Tuition" class="form-control" />
                <span asp-validation-for="Tuition" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EnrollmentAgentID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="EnrollmentAgentID" class ="form-control" asp-items="ViewBag.EnrollmentAgentID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Status" class="form-control"></select>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ModifiedTime" class="form-control" />
                <span asp-validation-for="ModifiedTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CreatedTime" class="form-control" />
                <span asp-validation-for="CreatedTime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ModifiedByID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="ModifiedByID" class ="form-control" asp-items="ViewBag.ModifiedByID"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CreatedByID" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CreatedByID" class ="form-control" asp-items="ViewBag.CreatedByID"></select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

