@model CRM.WebUI.Models.QuerySettingViewModel

@{
    ViewData["Title"] = "Index";
}

@section SideBar {
    <div class="panel panel-primary" style="margin:5px;">
        <div class="panel-heading">
             <span class="h4"><i class="fa fa-filter fa-fw" aria-hidden="true"></i>Filter</span>
        </div>
        <div class="panel-body">
            <form asp-action="SetQuery" method="post">
                <div class="form-actions no-color">
                    @Html.Hidden("search", Newtonsoft.Json.JsonConvert.SerializeObject(Model.search), new { id = "query_search" })
                    <input id="query_sort" type="hidden" name="sort" value="" />
                    <input id="query_offset" type="hidden" name="offset" value="0" />

                    <label for="ActivitySubject">Subject:</label>
                    <input id="ActivitySubject" class="form-control" placeholder="Subject" />
                    <br class="divider" />
                    <label for="ActivityOwner">Activity Owner:</label>
                    <input id="ActivityOwner" class="form-control" placeholder="User Name" />
                    <br class="divider" />
                    <button onclick="applyFilter(true)" class="btn btn-sm btn-info"><i class="fa fa-fw fa-check"></i>Apply</button>&nbsp;&nbsp;
                    <button onclick="applyFilter(false)" class="btn btn-sm btn-default"><i class="fa fa-fw fa-eraser"></i>Clear</button>
                </div>
            </form>
        </div>
    </div>
}


<form asp-area="" asp-controller="Activities" asp-action="Create" method="get" id="toolForm">
    <span class="h3">@ViewData["Title"]</span>&nbsp;&nbsp;
    <button type="submit" class="btn btn-sm btn-success pull-right">
        <i class="glyphicon glyphicon-plus"></i> Create
    </button>
</form>
<table id="activitiesTable"></table>

@section Scripts
{
    <script>
        $("#crm-activities").addClass('active');

        restoreFilter();

        $("#crm-Activities").addClass('active');
        $table = $("#activitiesTable");
        $table.bootstrapTable({
            url: "/api/activities",
                height: CRM.getHeight(),
                clickToSelect: true,
                sidePagination: 'server',
                pagination: true,
                toolbar: "#toolForm",
                idField: "activityID",
                queryParams: function (Param) { Param.search = $("#query_search").val(); return Param;},
                columns: [{
                    field: 'state',
                    title: '',
                    radio: true,
                }, {
                    field: 'activityID',
                    title: 'activity ID',
                    visible: false
                }, {
                    field: 'status',
                    title: 'Status',
                    formatter: CRM.convertActivityStatus,
                }, {
                    field: 'activityType',
                    title: 'Activity Type',
                    formatter: CRM.convertActivityType,
                }, {
                    field: 'subject',
                    title: 'Subject',
                }, {
                    field: 'content',
                    title: 'Content',
                }, {
                    field: 'startTime',
                    title: 'StartTime',
                    formatter: CRM.formatDate,
                }, {
                    field: 'endTime',
                    title: 'End Time',
                }, {
                    field: 'customerOwner.userName',
                    title: 'Activity Owner',
                }, {
                    field: 'createdTime',
                    title: 'Created Time',
                    formatter: CRM.formatDate,
                },]
            });

        $table.on('check.bs.table', function () {
            activities_onSelect($table.bootstrapTable('getSelections'));
            //$table.bootstrapTable("destory");
        });

        function activities_onSelect(eSelect)
        {
            if (eSelect != null) {
                window.location.href = "/Activities/Details/"+eSelect[0].attendedCustomerID.toString().trim();
            }
        }

        function applyFilter(enable) {
            var item = {};
            item.field = "";
            item.value = "";

            if (enable){
                LeadName = $("#Subject").val().trim();
                CustomerOwner = $("#ActivityOwner").val().trim();;
                $("#query_search").val(JSON.stringify(
                    [   { field: 'Subject', value: CustomerName },
                        { field: 'ActivityOwner', value: CustomerOwner }]));
            }
            else {
                $("#query_search").val("");
            }
            $(this).closest('form').submit();
        }

        function restoreFilter() {
            var filter = $("#query_search").val();
            if (filter == null || filter == "") return;
            filter = JSON.parse(filter);
            for (var i = 0, len = filter.length; i < len; i++) {
                if (filter[i] != null) $("#" + filter[i].Field).val(filter[i].Value);
            }
        }

    </script>
}
