@using CRM.Domain.Entities
@using CRM.Domain.Abstract
@model CRM.Domain.Entities.VisaApplication

<form asp-action="@ViewData["Action"]" autocomplete="off">
    @{if (ViewData["Action"].ToString() == "Edit")
        {
            <input type="hidden" asp-for="VisaApplicationID" />
        }
    }

    <div class="panel panel-info" style="margin-top:5px;">
        <div class="panel-heading">
            <div class="btn-group pull-right form-inline">
                <a type="button" class="btn btn-sm btn-info" href='/VisaApplications' style="float: right;"><i class="fa fa-fw fa-reply"></i>Back to List</a>
                <button type="submit" value="Save" class="btn btn-sm btn-success " stype="margin-left: 15px"><i class="fa fa-fw fa-save"></i>Save</button>
@{if (ViewData["Action"].ToString() == "Edit")
    {
                <a asp-action="Details" class="btn btn-sm btn-warning " asp-route-id="@Model.VisaApplicationID" style="margin-right: 15px; margin-left: 15px;"><i class="fa fa-fw fa-trash-o"></i>Cancel</a>
    }
    else
    {
                <a asp-action="Index" class="btn btn-sm btn-warning " style="margin-right: 15px; margin-left: 15px;"><i class="fa fa-fw fa-trash-o"></i>Cancel</a>
    }
}
            </div>
            <p style="font-size:18px; margin:0px; padding:0px;">@ViewData["Title"]</p>
        </div>
        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row crm-style">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <input type="hidden" asp-for="StudentID" class="form-control" />
                            <span asp-validation-for="StudentID" class="text-danger"></span>
                            <label asp-for="StudentID" class="control-label col-md-4"></label>
                            <div class="col-md-8 ">
                                <div class="input-group">
                                    <input id="studentname" class="form-control" asp-for="Student.Name"  data-val="false" readonly />
                                    <span class="input-group-btn">
                                        <button type="button" id="btnStudent" class="btn btn-default"><i class="fa fa-search fa-fw"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="InstituteID" class="form-control" />
                            <span asp-validation-for="InstituteID" class="text-danger"></span>
                            <label asp-for="InstituteID" class="control-label col-md-4"></label>
                            <div class="col-md-8 ">
                                <div class="input-group">
                                    <input id="institutename" class="form-control" asp-for="Institute.Name"  data-val="false" readonly />
                                    <span class="input-group-btn">
                                        <button type="button" id="btnInstitute" class="btn btn-default"><i class="fa fa-search fa-fw"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PassportNumber" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="PassportNumber" class="form-control" />
                                <span asp-validation-for="PassportNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EamilInForm" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="EamilInForm" class="form-control" />
                                <span asp-validation-for="EamilInForm" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="VisaType" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <select asp-for="VisaType" class="form-control" >
                                    <option value="">-none-</option>
                                    <option value="student">student</option>
                                    <option value="visitor">visitor</option>
                                    <option value="guardian">guardian</option>
                                    <option value="partner">partner</option>
                                    <option value="work">work</option>
                                    <option value="work holiday">work holiday</option>
                                    <option value="silver fern">silver fern</option>
                                    <option value="others">others</option>
                                </select>
                                <span asp-validation-for="VisaType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="VisaAppliedType" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <select asp-for="VisaAppliedType"  class="form-control" asp-items="Html.GetEnumSelectList<VisaApplication.AppliedVisaTypeEnum>()">
                                    <option value="">-none-</option>
                                </select>
                                <span asp-validation-for="VisaAppliedType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <select asp-for="Status" class="form-control" asp-items="Html.GetEnumSelectList<VisaApplication.VisaStatusEnum>()">
                                    <option value="">-none-</option>
                                </select>
                                <span asp-validation-for="VisaAppliedType" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Documents" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <textarea rows="2" asp-for="Documents" class="form-control"></textarea>
                                <span asp-validation-for="Documents" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="SubmittedDate" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="SubmittedDate" class="form-control datepicker-here" placeholder="yyyy-mm-dd"
                                       data-date-format="yyyy-mm-dd" data-clear-button="true" data-auto-close="true" data-language="en" />
                                <span asp-validation-for="SubmittedDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ReceivedDate" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="ReceivedDate" class="form-control datepicker-here" placeholder="yyyy-mm-dd"
                                       data-date-format="yyyy-mm-dd" data-clear-button="true" data-auto-close="true" data-language="en" />
                                <span asp-validation-for="ReceivedDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ExpiredDate" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="ExpiredDate" class="form-control datepicker-here" placeholder="yyyy-mm-dd"
                                       data-date-format="yyyy-mm-dd" data-clear-button="true" data-auto-close="true" data-language="en" />
                                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhysicalAddress" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="PhysicalAddress" class="form-control" />
                                <span asp-validation-for="PhysicalAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostalAddress" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <input asp-for="PostalAddress" class="form-control" />
                                <span asp-validation-for="PostalAddress" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note" class="col-md-4 control-label"></label>
                            <div class="col-md-8">
                                <textarea rows="4" asp-for="Note" class="form-control"></textarea>
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</form>

@await Component.InvokeAsync("CodesList", new
{
    crmCode = "students",
    valueRef = "StudentID",
    displayRef = "studentname",
    buttonRef = "btnStudent",
    onSelectFunc = "FillForm"
})
@await Component.InvokeAsync("CodesList", new
{
    crmCode = "institutes",
    valueRef = "InstituteID",
    displayRef = "institutename",
    buttonRef = "btnInstitute",
    onSelectFunc = ""
})

<script>
    function fillForm(sel)
    {
        $("#PassportNumber").val(sel[0].passportNumber);
        $("#EamilInForm").val(sel[0].eMail);
        $("#PhysicalAddress").val(sel[0].address);
        $("#PostalAddress").val(sel[0].address);
    }
</script>