@model CRM.Domain.Entities.VisaApplication

@{
    ViewData["Title"] = "Create Visa Application";
    ViewData["Action"] = "Create";
}

<div>
    @{await Html.RenderPartialAsync("_VisaPartial", Model, ViewData);}
</div>



@section Scripts
{
    <script>
        $("#crm-visa").addClass('active');
    </script>
    @Html.Raw(CRM.WebUI.ViewComponents.CodesListViewComponent.Register())
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}