@using CRM.Domain.Entities
@using CRM.Domain.Abstract
@model CRM.Domain.Entities.Lead

<form asp-action="@ViewData["Action"]" autocomplete="off">
    @{if (ViewData["Action"].ToString() == "Edit")
        {
            <input type="hidden" asp-for="CustomerID" />
        }
    }

    <div class="panel panel-info" style="margin-top:5px;">
        <div class="panel-heading">
            <div class="btn-group pull-right form-inline">
                <a type="button" class="btn btn-sm btn-info" href='/Leads' style="float: right;"><i class="fa fa-fw fa-reply"></i>List</a>
                <button type="submit" value="Save" class="btn btn-sm btn-success " stype="margin-left: 15px"><i class="fa fa-fw fa-save"></i>Save</button>
@{if (ViewData["Action"].ToString() == "Edit")
    {
                <a asp-action="Details" class="btn btn-sm btn-warning " asp-route-id="@Model.CustomerID" style="margin-right: 15px; margin-left: 15px;"><i class="fa fa-fw fa-trash-o"></i>Cancel</a>
    }
    else
    {
                <a asp-action="Index" class="btn btn-sm btn-warning " style="margin-right: 15px; margin-left: 15px;"><i class="fa fa-fw fa-trash-o"></i>Cancel</a>
    }
}
            </div>
            <p style="font-size:18px; margin:0px; padding:0px;">@ViewData["Title"]</p>
        </div>
        <div class="panel-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row crm-style">
                <div class="col-xs-12 col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Name" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PreferName" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="PreferName" class="form-control" />
                                <span asp-validation-for="PreferName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gender" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<GenderEnum>()"></select>
                                <span asp-validation-for="Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Birthdate" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="Birthdate" class="form-control datepicker-here" placeholder="yyyy-mm-dd"
                                       data-date-format="yyyy-mm-dd" data-clear-button="true" data-auto-close="true" data-language="en" />
                                <span asp-validation-for="Birthdate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Note" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <textarea rows="3" asp-for="Note" class="form-control" ></textarea>
                                <span asp-validation-for="Note" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label asp-for="Source" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="Source" class="form-control" />
                                <span asp-validation-for="Source" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="EMail" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="EMail" class="form-control" />
                                <span asp-validation-for="EMail" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Mobile" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="Mobile" class="form-control" />
                                <span asp-validation-for="Mobile" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AcademicBackground" class="col-xs-4 control-label"></label>
                            <div class="col-xs-8">
                                <input asp-for="AcademicBackground" class="form-control" />
                                <span asp-validation-for="AcademicBackground" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="CustomerOwnerID" class="control-label col-xs-4"></label>
                            <div class="col-xs-8">
                                <select asp-for="CustomerOwnerID" class="form-control" asp-items="ViewBag.CustomerOwnerID">
                                    <option value="">-None-</option>
                                </select>
                                <span asp-validation-for="CustomerOwnerID" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</form>


