@using CRM.Domain.Entities
@using CRM.Domain.Abstract
@model CRM.Domain.Entities.Account

@{
    ViewData["Title"] = "Create New Act.";
}
<form asp-action="Create" autocomplete="off" style="margin-top:5px;">
    <div class="panel panel-info" >
        <div class="panel-heading" >
            <div class="row">
                <div class="col-xs-6"><h4>@ViewData["Title"]</h4></div>
                <div class="col-xs-6" style="margin-top: 5px;">
                        <a type="button" class="btn btn-info pull-right" href='/Accounts'><i class="fa fa-fw fa-reply"></i>List</a>&nbsp;
                        <button type="submit" value="Create" class="btn btn-success pull-right" style="margin-left: 5px;margin-right: 5px"><i class="fa fa-fw fa-save"></i>Save</button>
                </div>
            </div>
            
        </div>
        <div class="panel-body">
            <input type="hidden" asp-for="AccountID" />
            @{await Html.RenderPartialAsync("_AccountsPartial", Model, ViewData);}
        </div>
    </div>
</form>

@section Scripts {
    <script>
        $("#crm-accounts").addClass('active');
        $('.datepicker-here').datepicker({ clearButton: true });
    </script>
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
