
@{
    ViewData["Title"] = "About";
    CRM.Domain.Entities.Account accountDisplay = new CRM.Domain.Entities.Account();
 }
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<input id="value1"/><input id="display1" /><button id="b1" type="button" class="btn">Owner1</button><br />
<input id="value2" /><input id="display2" /><button id="b2" type="button" class="btn">Owner2</button><br />

<vc:codes-list crm-code="institutes" value-ref="value1" display-ref="display1" button-ref="b1" on-select-func="">
</vc:codes-list>
<vc:codes-list crm-code="users" value-ref="value2" display-ref="display2" button-ref="b2" on-select-func="">
</vc:codes-list>


@section Scripts{
<script>$("#crm-about").addClass('active');</script>

@Html.Raw(CRM.WebUI.ViewComponents.CodesListViewComponent.Register())

}
