@using Microsoft.AspNetCore.Mvc.Rendering;
@{
    ViewData["Title"] = "Home Page-Dash Board";
}

<br />
<br />

<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <br />
                <span>Open Activities</span>
                <br />
                <br /><input id="ddd" class="form-control"/>
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel">
                <br />
                <br />
                <span>Accounts</span>
                <br />
                <br />
                <button onclick="mytest()">ddd</button>
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <br />
                <span>Students</span>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel">
                <br />
                <span>Notes</span>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>

    </div>
</div>


